appnope==0.1.0
autopep8==1.5.2
backcall==0.1.0
cvxpy==1.1.1
decorator==4.4.2
ecos==2.0.7.post1
flake8==3.8.1
future==0.18.2
greenlet==0.4.15
gurobipy==9.0.2
ipdb==0.13.2
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.0
joblib==0.15.1
mccabe==0.6.1
-e git+https://github.com/bstellato/mlopt.git@90ff0179d54b92ac907fef3e0df2dc7602627428#egg=mlopt
msgpack==1.0.0
numpy==1.18.4
osqp==0.6.1
pandas==1.0.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.6.1
pynvim==0.4.1
python-dateutil==2.8.1
pytz==2020.1
scikit-umfpack==0.3.2
scipy==1.4.1
scs==2.1.2
six==1.14.0
tqdm==4.46.0
traitlets==4.3.3
wcwidth==0.1.9
xgboost==1.1.0
